{% extends 'base.html' %}
 
 
 
{% block title %} Flask CRUD {% endblock %}
 
 
 
{% block body %}
 
<div class="jumbotron p-3">
    <div class="well text-center">
 
        <h1>Python Flask CRUD Web Application Development </h1>
 
    </div>
 
 
</div>
 
 
{% endblock %}
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
   <script>
      $(document).ready(function() {
         $('#bang1').DataTable({
           "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
             "iDisplayLength": 5
            } 
         );
     } );
   </script>